/* FONTS USED */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto&display=swap');

/* ================= */
/* TABLE OF CONTENTS 

    1) GLOBAL VARIABLES 
    2) TYPOGRAPHY
    3) LAYOUT
    4) UTILITIES
    5) COMPONENTS

   ================= */

/* ================= */
/* GLOBAL VARIABLES  */
/* ================= */

*,
*::before,
*::after {
    /* BOX MODEL */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* DISPLAY */
    font-family: 'Roboto', sans-serif;
    /* DESIGN */

    /* MISC */
    transition: all 0.25s ease-in-out;
}

:root {
    --clr-accent: hsl(26, 100%, 50%);
    --clr-light: hsl(0, 0%, 100%);
    --clr-dark: hsl(26, 100%, 25%);
}

:focus {
    border: 0;
    outline: none;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-accent);
}

/* ================= */
/*    TYPOGRAPHY     */
/* ================= */

h1, h2 {
    color: var(--clr-accent);
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.header__desc {
    margin-bottom: 2em;
}

/* ================= */
/*      LAYOUT       */
/* ================= */

.container {
    max-width: 412px;
    margin: auto;
    padding: 2em;

    background-color: var(--clr-light);
}

header > .container{
    border-bottom: 1px dashed var(--clr-accent);
    text-align: center;
}

/* ================= */
/*     UTILITIES     */
/* ================= */

/* ================= */
/*    COMPONENTS     */
/* ================= */



