/* FONTS USED */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto&display=swap');

/* ================= */
/* TABLE OF CONTENTS 

    1) GLOBAL VARIABLES 
    2) TYPOGRAPHY
    3) LAYOUT
    4) UTILITIES
    5) COMPONENTS

   ================= */

/* ================= */
/* GLOBAL VARIABLES  */
/* ================= */

*,
*::before,
*::after {
    /* BOX MODEL */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* DISPLAY */
    font-family: 'Roboto', sans-serif;
    /* DESIGN */

    /* MISC */
    transition: all 0.25s ease-in-out;
}

:root {
    --clr-accent: hsl(26, 100%, 50%);
    --clr-light: hsl(0, 0%, 100%);
    --clr-dark: hsl(26, 100%, 25%);
}

:focus {
    border: 0;
    outline: none;
}

h1, h2 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: var(--clr-accent);
}

h1 {
    margin: 0.5em 0;
}

p {
    margin-bottom: 1em;
    font-family: 'Roboto', sans-serif;
}

/* ================= */
/*    TYPOGRAPHY     */
/* ================= */

.header__title, .header__desc {
    text-align: center;
}

/* ================= */
/*      LAYOUT       */
/* ================= */

.container {
    max-width: 900px;
    margin: auto;
    padding: 1em;

    display: flex;
    flex-direction: column;
}

header {
    background-color: var(--clr-accent);
}

/* ================= */
/*     UTILITIES     */
/* ================= */

.hide {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

/* ================= */
/*    COMPONENTS     */
/* ================= */

.search {
    padding: 1em;
}

.inp--search, .btn--search {
    padding: 1em;
    border-radius: 0.5rem;
    font-size: 1rem;
}

.inp--search {
    margin-top: 1em;
    background-color: hsl(0, 0%, 90%);
    border: none;
    text-transform: uppercase;
}

.inp--search:focus::placeholder {
    color: transparent;
}

.inp--search:focus-within {
    background-color: hsl(0, 0%, 85%);
}

.btn--search {
    background-color: var(--clr-accent);
    border: none;
    color: var(--clr-light);

    cursor: pointer;
}

.btn--search:hover, .btn--search:focus-within {
    background-color: var(--clr-dark);
}

